{
    "state_bucket_name": "ENC[AES256_GCM,data:...,type:str]",
    "state_endpoint": "ENC[AES256_GCM,data:...,type:str]",
    "state_access_key": "ENC[AES256_GCM,data:...,type:str]",
    "state_secret_key": "ENC[AES256_GCM,data:...,type:str]",
    "proxmox_api_token": "ENC[AES256_GCM,data:...,type:str]",
    "proxmox_ssh_user": "ENC[AES256_GCM,data:...,type:str]",
    "sops": {
        "kms": null,
        "gcp_kms": null,
        "azure_kv": null,
        "hc_vault": null,
        "age": [
            {
                "recipient": "age1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                "enc": "-----BEGIN AGE ENCRYPTED FILE-----\n...\n-----END AGE ENCRYPTED FILE-----\n"
            }
        ],
        "lastmodified": "2026-01-01T00:00:00Z",
        "mac": "ENC[AES256_GCM,data:...,type:str]",
        "version": "3.8.1"
    }
}
